<%- include("partials/_header.ejs") %>
  <!-- CKEditor 5 Classic Build (CDN) -->
  <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <%- include("partials/sidebar.ejs") %>


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

              <%- include("partials/_navbar.ejs") %>


                <!-- Begin Page Content -->
                <div class="container-fluid">


                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-12 mb-4">

                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                              <div>
                                  <button class="btn btn-success btn-sm w-15 mt-3 mr-5 float-right" data-bs-toggle="modal" data-bs-target="#addAbout">
                                      Yazıyı Güncelle  
                                    </button>
                                
                              </div>
                                    <div class="mx-auto mt-3">
                                      <h3>HAKKIMDA</h3>
                                    </div>
                                    <textarea class="form-control" name="aboutText" rows="5"><%- about.aboutText %>
                                    </textarea>
                            </div>

                        </div>




                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- MODAL -->

            <!-- Mevcut yazıyı gösteren alan -->
 
  
  <!-- Modal yazı ekle -->
  <div class="modal fade" id="addAbout" tabindex="-1" aria-labelledby="addBlogModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addBlogModalLabel">Yazıyı Güncelle</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/admin/about/update" method="POST">

            <div class="mb-3">
              <label for="aboutText" class="form-label">İçerik</label>
              <textarea name="aboutText" id="editor" rows="10" class="form-control"><%- about.aboutText%></textarea>
            </div>
  
            <button type="submit" class="btn btn-primary">Kaydet</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
<!-- END-MODAL -->

         <%- include("partials/_footer.ejs") %> 

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

   <%- include("partials/_script.ejs") %>
<!-- CKEditor'i Modal içindeki textarea'ya bağla -->
<script>

  let editorInstance;

  const modal = document.getElementById('addAbout');

  modal.addEventListener('shown.bs.modal', function () {
    if (!editorInstance) {
      ClassicEditor
        .create(document.querySelector('#editor'))
        .then(editor => {
          editorInstance = editor;
        })
        .catch(error => {
          console.error(error);
        });
    }
  });

  modal.addEventListener('hidden.bs.modal', function () {
    if (editorInstance) {
      editorInstance.destroy()
        .then(() => {
          editorInstance = null;

          // Destroy old editor HTML ve textarea'yı geri getir
          const editorContainer = document.querySelector('.ck-editor');
          if (editorContainer) {
            editorContainer.remove();
            const newTextarea = document.createElement('textarea');
            newTextarea.name = 'aboutText';
            newTextarea.id = 'editor';
            newTextarea.rows = 10;
            document.querySelector('.modal-body').appendChild(newTextarea);
          }
        })
        .catch(error => {
          console.error(error);
        });
    }
  });


</script>


</body>

</html>