<%- include("partials/_header.ejs") %>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <%- include("partials/sidebar.ejs") %>


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

              <%- include("partials/_navbar.ejs") %>



                <!-- Begin Page Content -->
                <div class="container-fluid">


                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-12 mb-4">

                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <h6 class="m-0 font-weight-bold text-primary">Sertifikalar</h6>
                                        </div>
                                        <div class="col-md-6">
                                            <a data-target="#addCertificate" data-toggle="modal" class="btn btn-sm btn-outline-success float-right">
                                                <i class="bi bi-plus">
                                                    Yeni Sertifika Ekle
                                                </i>    
                                            </a>
                                        </div>

                                    </div>

                                </div>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Sertifika Adı</th>
                                            <th scope="col">Sertifika Resmi</th>
                                            <th scope="col">Sertifika Tipi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% certificates.forEach(certificate => { %>
                                            <tr>
                                                <td><%= certificate.certificateName %></td>
                                                <td>
                                                    <!-- Resmi bir div içine alıyoruz -->
                                                    <div style="width: 200px; height: 150px; overflow: hidden; display: flex; justify-content: center; align-items: center;">
                                                        <!-- object-fit ile resmi kutuya uygun şekilde kırpıyoruz -->
                                                        <img src="<%= certificate.certificateImage %>" style="width: 100%; height: 100%; object-fit: cover;">
                                                    </div>
                                                </td>
                                                <td><%= certificate.certificateType %></td>
                                                <!-- sertifika güncelle -->
                                                <td>
                                                   <div class="d-flex gap-2">
                                                    <div class="col-md-6">
                                                        <a data-target="#updateCertificate" data-toggle="modal" class="btn btn-sm btn-outline-success float-right">
                                                            <i class="bi bi-pencil-square"></i>    
                                                        </a>
                                                    </div>
                                                    <!-- sertifika sil -->
                                                    <form action="/admin/certificate/<%= certificate._id %>" method="POST" id="deleteForm<%= certificate._id %>">
                                                        <button type="button" class="bi btn btn-sm btn-outline-danger" onclick="deleteCertificate('<%= certificate._id %>')">
                                                            <i class="bi bi-trash"></i>
                                                        </button>
                                                    </form>
                                                   </div>
                                                </td>
                                            </tr>
                                        <% }) %>
                                    </tbody>
                                </table>                                                        
                            </div>                          
                        </div>
                    </div>
                </div>
            </div>
           
            <!-- MODAL sertifika ekle-->

            <div class="modal fade" id="addCertificate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Yeni Sertifika</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="close" >
                                <span aria-hidden="true">&times;</span>
                            </button> 
                        </div>
                        <div class="modal-body">
                            <form action="/admin/certificate" method="POST" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label>Sertifika Adı</label>
                                    <input type="text" name="certificateName" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label">Sertifika Resmi</label>
                                    <input type="file" name="certificateImage" class="form-control-file">
                                </div>

                                <div class="form-group">
                                    <label>Sertifika Tipi</label>
                                    <select name="certificateType" class="form-select">
                                        <option value="success">Başarı</option>
                                        <option value="part">Katılım</option>
                                    </select>
                                </div>

                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-outline-success">Kaydet</button>
                                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Kapat</button>
                                </div>
                            </form>

                        </div>

                    </div>

                </div>

            </div>
            <!-- END-MODAL -->

            <!-- MODAL sertifika güncelle -->
            <% certificates.forEach(certificate => { %>
              
                <!-- Güncelleme Modalı -->
                <div class="modal fade" id="updateCertificate" tabindex="-1" aria-labelledby="editModalLabel<%= certificate._id %>" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <form action="/admin/certificate/<%= certificate._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                        <div class="modal-header">
                          <h5 class="modal-title" id="editModalLabel<%= certificate._id %>">Sertifikayı Güncelle</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
                        </div>
                        <div class="modal-body">
                          <!-- Sertifika Adı -->
                          <div class="mb-3">
                            <label class="form-label">Sertifika Adı</label>
                            <input type="text" name="certificateName" class="form-control" value="<%= certificate.certificateName %>">
                          </div>
              
                          <!-- Sertifika Türü -->
                          <div class="mb-3">
                            <label class="form-label">Sertifika Türü</label>
                            <input type="text" name="certificateType" class="form-control" value="<%= certificate.certificateType %>">
                          </div>
              
                          <!-- Mevcut Görsel -->
                          <div class="mb-3">
                            <label class="form-label">Mevcut Görsel</label><br>
                            <img src="<%= certificate.certificateImage %>" alt="Mevcut Sertifika Görseli" width="150">
                          </div>
              
                          <!-- Yeni Görsel Yükleme -->
                          <div class="mb-3">
                            <label class="form-label">Yeni Görsel Yükle (İsteğe Bağlı)</label>
                            <input type="file" name="certificateImage" class="form-control">
                          </div>
                        </div>
              
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                          <button type="submit" class="btn btn-primary">Kaydet</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              <% }) %>
              
              
            <!-- END-MODAL -->

         <%- include("partials/_footer.ejs") %> 

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

   <%- include("partials/_script.ejs") %>



</body>

</html>