<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Aziz Özkaracadağ</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="./site/img/azzsec.svg" rel="icon">
  <link href="./site/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="./site/vendor/aos/aos.css" rel="stylesheet">
  <link href="./site/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="./site/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="./site/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="./site/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="./site/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="./site/css/style.css" rel="stylesheet">

  <!-- BOOTSTRAP CDN -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">


  <!-- =======================================================
  * Template Name: MyResume - v4.10.0
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  
    <!-- ======= Mobile nav toggle button ======= -->
  <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
  <i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
      <ul>
        <li><a href="#hero" class="nav-link scrollto active"><i class="bi bi-house"></i> <span>Home</span></a></li>
        <li><a href="#about" class="nav-link scrollto"><i class="bi bi-person"></i> <span>About</span></a></li>
        <li><a href="#skills" class="nav-link scrollto"><i class="bi bi-code-slash"></i><span>Skills</span></a></li>
        <li><a href="#resume" class="nav-link scrollto"><i class="bi bi-file-earmark"></i> <span>Resume</span></a></li>
        <li><a href="#portfolio" class="nav-link scrollto"><i class="bi bi-award"></i></i> <span>Certificates</span></a></li>
        <li><a href="#services" class="nav-link scrollto"><i class="bi bi-file-code"></i> <span>Projects</span></a></li>
        <li><a href="http://localhost:7000/blogs" class="nav-link scrollto"><i class="bi bi-chat-square-quote"></i> <span>Blogs</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->
  

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Aziz Özkaracadağ</h1>
      <p>I'm <span class="typed" data-typed-items="Software Developer!"></span></p>
      <div class="social-links">
        <% for (let i = 0; i < socialMedia.length; i++) { %>
          <% if (socialMedia[i].platform === 'linkedin') { %>
            <a href="<%= socialMedia[i].url %>" class="linkedin"><i class="bi bi-linkedin"></i></a>
          <% } else if (socialMedia[i].platform === 'github') { %>
            <a href="<%= socialMedia[i].url %>" class="github"><i class="bi bi-github"></i></a>
          <% } else if (socialMedia[i].platform === 'instagram') { %>
            <a href="<%= socialMedia[i].url %>" class="instagram"><i class="bi bi-instagram"></i></a>
          <% } else if (socialMedia[i].platform === 'twitter') { %>
            <a href="<%= socialMedia[i].url %>" class="twitter"><i class="bi bi-twitter"></i></a>
          <% } else if (socialMedia[i].platform === 'youtube') { %>
            <a href="<%= socialMedia[i].url %>" class="youtube"><i class="bi bi-youtube"></i></a>
          <% } %>
        <% } %>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="section-title text-center mb-5">
          <h2>About</h2>
          
        </div>
    
        <div class="row">
          <!-- Görsel Kısmı -->
          <!-- <div class="col-lg-5 d-flex justify-content-center align-items-center">
            <img src="./img/IMG_20250305_151741.jpg" class="img-fluid rounded-circle shadow-lg" alt="" style="max-width: 80%; border: 5px solid #f7f7f7;">
          </div> -->
          
          <!-- Metin Kısmı -->
          <div class="col-lg-12 pt-4 pt-lg-0 content">
            <h3 class="text-center mb-3">Software Developer</h3>
            
            <div class="fs-4">
              <%- about.aboutText %>
            </div>
    
            <!-- Sosyal Medya ve İletişim Bilgileri (isteğe bağlı) -->
            <div class="row mt-5">
              <!-- Buraya isteğe bağlı olarak başka içerikler ekleyebilirsiniz -->
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->
      
    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Skills</h2>
        </div>

        <div class="row skills-content">

          <h4 class="mt-1">Programming Languages, Frameworks & Databases</h4>
          <div class="social-links mt-1">
            <a href="#!"><img src="./site/img/logos/javascript.png" alt="JavaScript"></a> 
            <a href="#!"><img src="./site/img/logos/nodejs.png" alt="NodeJS"></a> 
            <a href="#!"><img src="./site/img/logos/ts.png" alt="TypeScript"></a> 
            <a href="#!"><img src="./site/img/logos/nest.png" alt="Nestjs"></a> 
            <a href="#!"><img src="./site/img/logos/expressjs.png" alt="Expressjs"></a> 
            <a href="#!"><img src="./site/img/logos/laravel.png" alt="Laravel"></a> 
            <a href="#!"><img src="./site/img/logos/mongodb1.png" alt=""> </a>
          </div>

          <h4 class="mt-5">Development Tools & Technologies</h4>
          <div class="social-links mt-1">
            <a href="#!"><img src="./site/img/logos/html.png" alt="html"></a> 
            <a href="#!"><img src="./site/img/logos/css.png" alt="css"></a> 
            <a href="#!"><img src="./site/img/logos/bootstrap.png" alt="bootstrap"></a> 
            <a href="#!"><img src="./site/img/logos/postman.png" alt="postman"></a> 
            <a href="#!"><img src="./site/img/logos/burp.png" alt="burp"></a> 
            <a href="#!"><img src="./site/img/logos/linux.png" alt="linux"></a> 
            <a href="#!"><img src="./site/img/logos/git.png" alt="git"></a> 
            <a href="#!"><img src="./site/img/logos/canva.png" alt="canva"></a> 
          </div>

          
        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resume</h2>
        </div>

        <div class="row">
          <div class="col-lg-6">
            

            <h3 class="resume-title">Education</h3>
  
     
              <div class="resume-item">
                <h4>Dicle University</h4>
                <h5>Computer Programmer</h5>
                <p><em>2022 - 2024</em></p>
              </div>

              <div class="resume-item">
                <h4>Anadolu University</h4>
                <h5>Management Information Systems</h5>
                <p><em>2024 - Present</em></p>
              </div>
     
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>
    
            <div class="resume-item">
              <h4><%= resumes[0].company %></h4>
              <h5><%= resumes[0].jobTitle %></h5>
              <p><em><%= resumes[0].startedYear %> - Present</em></p>
              <p><strong></strong></p>
              <p> <%= resumes[0].description %></p>
            </div>
 
 

          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Certificates Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Certificates</h2>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <% for (let i = 0; i < certificates.length; i++) { %>
            <ul id="portfolio-flters">
                <li>
                  <%= certificates[i].certificateName %>
                </li>
                <li>
                  <img class="w-75 img-fluid rounded shadow-sm" style="transition: 0.3s;" onmouseover="this.style.transform='scale(1.55)'" onmouseout="this.style.transform='scale(1)'" src="<%= certificates[i].certificateImage %>" alt="">

                </a>
                </li>
            </ul>
            <% } %>
          </div>
        </div>

        <!-- <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200"> 
          <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-wrap">
              <img src="" class="img-fluid" alt="">
              <div class="portfolio-info">
                
                <a href="" data-gallery="portfolioGallery" class="portfolio-lightbox" style="text-decoration: none;">
                  <h4></h4>
                </a>
              
              </div>
            </div>
          </div>
        </div> -->

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Projects Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Projects</h2>
        </div>

        <div class="row">
          <% for(let i = 0; i < projects.length; i++) { %>
          <div class="col-lg-4 col-md-6 align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            
              <div class="icon-box iconbox-teal">

                <div><h4> <a href="<%= projects[i].projectUrl %>"> <%= projects[i].projectName %> </a></h4></div>
                <p><%= projects[i].projectDescription %></p>
              </div>
           
          </div>
          <% } %>

        </div>

      </div>
    </section><!-- End Services Section -->


  </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container">
        <h3>Aziz Özkaracadağ</h3>
        
        <div class="social-links">
          <% for (let i = 0; i < socialMedia.length; i++) { %>
            <% if (socialMedia[i].platform === 'linkedin') { %>
              <a href="<%= socialMedia[i].url %>" class="linkedin"><i class="bi bi-linkedin"></i></a>
            <% } else if (socialMedia[i].platform === 'github') { %>
              <a href="<%= socialMedia[i].url %>" class="github"><i class="bi bi-github"></i></a>
            <% } else if (socialMedia[i].platform === 'instagram') { %>
              <a href="<%= socialMedia[i].url %>" class="instagram"><i class="bi bi-instagram"></i></a>
            <% } else if (socialMedia[i].platform === 'twitter') { %>
              <a href="<%= socialMedia[i].url %>" class="twitter"><i class="bi bi-twitter"></i></a>
            <% } else if (socialMedia[i].platform === 'youtube') { %>
              <a href="<%= socialMedia[i].url %>" class="youtube"><i class="bi bi-youtube"></i></a>
            <% } %>
          <% } %>
        </div>
        
        <div class="copyright">
          &copy; Created by <strong><span><a href="/">AzzSec</a></span></strong>
        </div>
      </div>
    </footer><!-- End Footer -->
  
  
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
  <!-- Vendor JS Files -->
<script src="./site/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="./site/vendor/aos/aos.js"></script>
<script src="./site/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="./site/vendor/glightbox/js/glightbox.min.js"></script>
<script src="./site/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="./site/vendor/swiper/swiper-bundle.min.js"></script>
<script src="./site/vendor/typed.js/typed.min.js"></script>
<script src="./site/vendor/waypoints/noframework.waypoints.js"></script>
<script src="./site/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="./site/js/main.js"></script>

<!-- BOOTSTRAP CDN -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  

</body>

</html>